body{
    margin: 0;
    padding: 0;
}


h1{
    font-family: Bebas Neue, cursive;
}

h1.gallery{
    font-family: Bebas Neue, cursive;
    font-size: 3em;
    width: 450px;
    border-bottom: 2px solid rgb(8, 66, 8);
    border-right: 2px solid rgb(8, 66, 8);
    text-align: center;
    box-shadow: 5px 5px 5px rgb(142, 143, 142);
    margin-top: 10px;
    margin: 10px auto;
}

h2{
    font-family: Bebas Neue, cursive;
}

p{
    font-family:'Times New Roman', Times, serif

}


/*Header styles start */
div.menu{
    width: 100px;
    height: 80px;
    background-color: transparent;
    position: relative;
    margin-top: 15px;
    top:-20px;
    z-index: 1;
    margin: 10px 30px;
    background-image: url(../images/menu-removebg-preview.png);
    background-size: cover;
}

.header li{
    list-style-type: none;
}

nav{
    height: 100px;
    width: auto;
    background-color: rgb(8, 59, 2);
    display: flex;
    justify-content: space-between;   

}

div.content  li{
    display: none;
}

img.header{
    width: 300px;
    height: 300px;
    position: relative;
    top: -100px;
    margin: 10px 10px;
}

div.menu:hover .content ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px 5px;
    position: relative;
}

div.menu:hover .content ul{
    background-color: rgb(8, 59, 2);
    position: absolute;
    top: 95px;
    width: 100px;
    height: 400px;
    text-align: left;
    padding: 10px 20px;
}


div.menu:hover .content ul li:hover{
    background-color: rgb(182, 201, 182);
    z-index: 1;
}
a{
    border-width: 2px;
    /*background-color: rgb(42, 37, 114);*/
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    

}

.dropdown-link{
    color: rgb(255, 255, 255);
    
}

.dropdown-content {
    display: none;
}


.dropdown-content ul {
    padding: 20px;
    
}

nav.header ul li:hover.contact .dropdown-content{
    display: block;
}
nav.header ul li:hover .dropdown-content ul {
    display: block;
    padding: 10px 10px;
    position: relative;
    left: -120px;
    top: -40px;
    height: 250px;
}
nav.header ul li:hover .dropdown-content ul li {
    display: inline-block;
    margin: 0px 0px 15px 0px;
}


/*end of header styles */



/* start of contact page styles */
h2.contact{
    text-align: center;
    font-family: Bebas Neue, cursive;
    text-transform: uppercase;
    font-size: 30px;
}
div.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50px;
    margin: 70px auto;
}

p.contact{
    text-align: center;
    width: auto;
    margin-left: 10px;
    font-family: Bebas Neue, cursive;
    text-transform: capitalize;
}
.twitter,.facebook,.instagram,.telegram{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
}

.twitter{
    border-radius: 90px;
    width: 100px;
    background-image: url(../images/twitter.jpg);
    background-size: cover;
}

.facebook{
    background-image: url(../images/facebook.png);
    background-size: cover;
    border-radius: 20px;

}

.instagram{
    background-image: url(../images/instagram.jpg);
    background-size: cover;
    border-radius: 20px;
}

.telegram{
    background-image: url(../images/telegram.jpg);
    background-size: cover;
    border-radius: 90px;
}

/* Gallery styles */
img{

    transition: all 1s;
}

img:hover.unngallery, img:hover.gallery{
    transform: scale(1.1);
}

.container-gallery{
    display: flex;
    justify-content: center;
}

img.unngallery{
    height: 250px;
    margin: 10px;
}

img.gallery{
    width: 250px;
    height: 150px;
    margin: 20px;
    
}
/*end of galery styles*/


/* about page styles start*/
h2.about{
    margin: 40px auto;
    text-align: center;
    width: 250px;
    border-bottom: 2px solid rgb(8, 66, 8);
    border-right: 2px solid rgb(8, 66, 8);
    box-shadow: 3px 3px 2px;
    font-size: 50px;
}
.about > p{
    text-align: center;
    width: 400px;
    border: 2px solid rgb(8, 59, 2);
    border-radius: 20px;
    padding: 30px;
    margin: 10px auto;
    font-size: 30px;
}

.data > p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    
    margin: 30px auto;
}
.data ul li{
    text-align: center;
    margin: 20px auto;
    width: 300px;
       
}

.Nduka, .kevin, .alvan{
    margin: 30px auto;
    width:400px;
    border: 2px solid rgb(8, 59, 2);
    border-radius: 30px;
}

.Nduka h2, .Nduka p, .kevin h2, .kevin p, .alvan h2, .alvan p{
    text-align: center;
}

.Nduka img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.kevin img, .alvan img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

 .Nduka p, .kevin p, .alvan p{
     font-size: 25px;
 }
/*about page styles end*/ 

/*Home page content styles */
p.body{
    width: 500px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 1.5em;
}

h1.body{
    margin: 40px auto;
    text-align: center;
    width: max-content;
    padding: 30px;
    border-bottom: 2px solid rgb(8, 66, 8);
    border-right: 2px solid rgb(8, 66, 8);
    box-shadow: 3px 3px 3px rgb(142, 143, 142);
}

img.body{
    width: 500px;
    height: 300px;
    display: block;
    margin: 30px auto;
}

ul.body{
    margin: 20px auto;
    text-align: left;
    list-style-position: outside;
    width: 400px;
    border-bottom: 2px outset rgb(8, 66, 8);
    border-right: 2px outset rgb(8, 66, 8);
}
ul.body li{
    margin: 20px;
    font-size: 20px;
}
h1.heading{
    font-size: 30px;
    background-color: rgb(8, 66, 8);
    color: rgb(255, 255, 255);
}
/* Home page content styles end */
/*Start of Footer styles */
footer{
    background-color: rgb(8, 66, 8);
    color: #fff;
    text-align: left;
}

.footer-contact{
    display: flex;
    justify-content: left;
    width: 100%;
    
    
}
.mail{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    margin: 20px 0px;
    margin-left: 20px;
}

.footer-contact a{
    margin: 20px 10px;
    font-size: 20px;
    
}
.phone{
    background-image: url(../images/call2.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 80px 100px;
    margin: 20px 10px;

    
}

button{
    margin: 20px 10px;
    background-color: transparent;
    color: #fff;
    border-style: none;
    font-size: 20px;
}

.second-line-footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0px 10px;
}
.second-line-footer input.email{
    width: 200px;
    height: 40px;
    margin-left: 10px;
    
}

.second-line-footer input.submit{
    height: 45px;
}

.second-line-footer input.submit:hover{
    background-color: rgb(142, 143, 142);
}

.second-line-footer p{
    font-size: 20px;
    margin-left: 40px;
}

.end-footer{
    display: flex;
    font-size: 20px;
}

.end-footer a{
    margin-top: 10px;
    margin-left: 120px;
}
.end-footer p{
    margin-left: 20px;
}

/* footer styles end */

/* team Page styles start */
h1.team{
    margin: 10px auto;
    text-align: center;
    color: rgb(8, 66, 8);
    text-shadow: 3px 3px 3px rgb(142, 143, 142);
}

div.team{
    background-image: url(../images/table.jpg);
    background-size: cover;
    width: auto;
    height: 600px;
    background-color: black;
    margin: 0;
}

.team h1{
    background-color: rgba(23, 23, 23, 0.7);
    position: absolute;
    top: 550px;
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    left: 150px;
    color: #fff;
}

ul.team{
    width: 80%;
    margin: 40px auto;
    line-height: 2.6em;
}
ul.team li{
    margin: 20px auto;
    text-align: left;
    font-size: 30px;
}

ul.team li span{
    text-align: left;
    background-color: rgb(8, 66, 8);
    border: 3px outset rgb(255, 255, 255);
    color: #fff;
    padding: 10px;font-size: 70%;
}
/* team page styles end */

/*partnership page styles start */

h1.partners{
    text-align: center;
    border-right: 3px solid rgb(8, 66, 8);
    border-bottom: 3px solid rgb(8, 66, 8);
    box-shadow: 3px 3px 3px rgb(142, 143, 142);
    width: 250px;
    padding: 20px;
    margin: 20px auto;
}

p.partners{
    margin: 40px auto;
    width: 50%;
    font-size: 30px;
}
a.partners{
    color: #000;
    margin: 0;
    padding: 0;
}

div.partner-container{
    width: auto;
    background-color: rgb(8, 66, 8);

}

div.partner-container img{
    width: 500px;
    height: 200px;
    display: block;
    margin: 10px auto;
    padding: 10px;
}

/*end of partnership page styles */

/* Start of events page styles */
h1.event{
    text-align: center;
    border-right: 3px solid rgb(8, 66, 8);
    border-bottom: 3px solid rgb(8, 66, 8);
    box-shadow: 3px 3px 3px rgb(142, 143, 142);
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    
}

h2.event{
    background-color: rgb(8, 66, 8);
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: 50px 30px;
    color: #fff;
    font-size: 30px;

}
p.event{
    width: 50%;
    margin: 30px auto;
    font-size: 30px;
}

img.event{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

/*.header{
    text-align: center;
    text-shadow: 2px 2px rgb(8, 66, 8);
    animation-name: header;
    animation-duration: 2s;
    position: relative;
}*/

@keyframes header{
    from{
        left: 0px;
        color: linear-gradient(to right, red, blue);

    }
    to{
        left: 450px;
        color: linear-gradient(to left, blue, green);
    }
}

/* Start of slideshow styles */

.slider-frame{
    overflow: hidden; 
    position: relative;
    width: 100%;
    height: 100vh;

}

.slider-frame .slider-images{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    float: left;
    animation: animate 10s linear infinite;
}

.slider-frame .slider-images .slide{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
}

.slider-frame .slider-images .slide .caption{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    background: rgba(0, 0, 0, .5);
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}

.slider-frame .slider-images .slide h2{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 7%;
    transition: 0.5s;
}

.slider-frame .slider-images .slide.slide1{
    background-image: url(../images/prize.jpg);
    background-size: cover;
    background-position: center;
}

.slider-frame .slider-images .slide.slide2{
    background-image: url(../images/table.jpg);
    background-size: cover;
    background-position: center;
}

.slider-frame .slider-images .slide.slide3{
    background-image: url(../images/students.jpg);
    background-size: cover;
    background-position: center;
}

.slider-frame .slider-images .slide.slide4{
    background-image: url(../images/students2.jpeg);
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }
    
    25%
    {
        left: -100%;
    }

    45%
    {
        left: -100%;
    }

    50%
    {
        left: -200%;
    }

    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: -400%;
    }
}

@media screen and (max-width: 768px) {
    .slider-frame .slider-images .slide .caption{
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 30px;
        
    }
    
    .slider-frame .slider-images .slide h2{
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        font-size: 30px;
    }

   
}
/*End of slideshow styles */